<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <master-form-header></master-form-header>
            </div>
        </div>
    </div>
</section>

<mat-progress-bar mode="determinate" value="0"></mat-progress-bar>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <master-form-detail></master-form-detail>
            </div>
        </div>
    </div>
</section>