.form-container {
    display: flex;
    flex-direction: row;
}

.form-container > * {
    width: 25%;
    padding-right: 25px;
}

.form-container-50 {
    display: flex;
    flex-direction: row;
}

.form-container-50 > * {
    width: 30%;
}

.button-row a {
    &:hover {
        color: rgba(0,0,0,.87);
        text-decoration: none;
    }
}

.mat-tooltip {
    max-width: 50px;
    /* or */
    /* width: 50px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-icon-search {
    vertical-align:middle !important;
    display:flex !important;
}
