
<!-- <div class="mb-5 col-sm-12"> -->
    <div class="form-row" style="margin-top:12px;margin-bottom: 12px;">
        <span class="d-inline">
            <h3 class="d-inline" style="font-weight: 300">Product Development 
                <strong style="font-weight: 600">Routing</strong>
            </h3>
        </span>
    
        <span class="d-inline ml-auto">
            <button               
              color="primary"
              mat-fab
              (click)="openModalSearchGrid()"
              matTooltip="Search">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </div>
  <!-- </div> -->
  
  <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
  <br>
<!-- <div class="alert alert-info" role="alert">
{{ErrorMessage}}  
</div> -->


  <form class="form-group container-fluid" [formGroup]="masterForm" #novalidate>
      
      <!--First row-->
      <div class="form-row">
          <!--First column-->
          <div class="col-md-2" form-group>
              <div class="md-form">               
                  <label for="form9" class="clsMandatory">ROUTE</label>
                  <input type="hidden" class="form-control form-control-sm" formControlName="ROUTING_ID" > 
                  <input type="text" class="form-control form-control-sm" 
                  formControlName="ROUTING_NO" UpperCase required>                
                  <div *ngIf="masterForm.controls['ROUTING_NO'].invalid "
                  class="alert alert-danger">Route No. required.</div>   
                </div>
          </div>
    
          <!--Second column-->
          <div class="col-md-2" form-group>
              <div class="md-form">
                  <label for="form10" class="clsMandatory">STATUS</label>
                  <select class="form-control form-control-sm" formControlName="ROUTING_STATUS"> 
                      <option *ngFor="let s of status" [value]="s.value">{{ s.name }}</option>
  
                  </select>               
              </div>
          </div>
  
          <!--Third column-->
          <div class="col-md-2" form-group>
              <div class="md-form">               
                  <label for="form11" class="clsMandatory">ROUTING CLASS</label>
                  <div class="input-group">
                        <input type="hidden" class="form-control form-control-sm" formControlName="ROUTING_CLASS_ID" > 
                        <input type="text" class="form-control form-control-sm" formControlName="ROUTING_CLASS" 
                        UpperCase required (focusout)= "getRoutingClassDetail()">                    
                        <button class="btn btn-primary btn-sm" type="button"                         
                        color="warn"                    
                        matTooltip="Search"
                        md-raised-button    
                        (click)="openModalGrid()"
                            [attr.disabled]="!editMode?'':null"      >
                        <span class="btn-icon-search"><mat-icon>search</mat-icon></span>
                                    
                        </button>
                        <div *ngIf="ROUTING_CLASS.invalid"
                        class="alert alert-danger">Routing Class required.</div>
                </div>
              </div>
          </div>
    
          <!--Fourth column-->
          <div class="col-md-6" form-group>
              <div class="md-form">
                  <label for="form12" >DESCRIPTION</label>
                  <input type="text" class="form-control form-control-sm" formControlName="ROUTING_CLASS_NAME">  
                                 
              </div>
          </div>
      </div>

    <!--Second Row-->
      <div class="form-row">
          <!--First column-->
          <div class="col-md-2" form-group>
              <div class="md-form">               
                  <label for="form9">VERSION</label>
                  <input type="text" class="form-control form-control-sm" formControlName="ROUTING_VERS" 
                  maxlength=3 NumberOnly >                
              </div>
          </div>           
      </div>
  
   <!--Third Row-->
      <div class="form-row">
          <!--First column-->
          <div class="col-md-6" form-group>
              <div class="md-form">               
                  <label for="form9" class="clsMandatory">DESCRIPTION</label>
                  <textarea
                   type="text" class="form-control form-control-sm" formControlName="ROUTING_NAME" required></textarea>                
                  <div *ngIf="masterForm.controls['ROUTING_NAME'].invalid"
                  class="alert alert-danger">Description required.</div>

                  
                </div>
          </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-md-6">
            <span class="d-inline">
                <div class="button-row">
                  <button 
                    (click)="addRecord()"
                    mat-raised-button color="basic"
                    matTooltip="Add">
                      Add 
                  </button>
                </div>
            </span>
        </div>
        <div class="col-md-6" align="right">
            <span class="d-inline ml-auto">
                <div class="button-row">
                  <button 
                    (click)="enableInputs()"
                    mat-raised-button color="basic"
                    matTooltip="Edit Form">
                      Edit
                  </button>
                  <a 
                    (click)="disableInputs()"
                    mat-raised-button color="basic"
                    matTooltip="Cancel Form">
                      Cancel
                  </a>
                </div>
            </span>
        </div>
      </div>   
    </form>

<routing-detail
    [masterForm]="masterForm" 
></routing-detail>
  