<table class="display table table-bordered table-striped table-hover" cellspacing="0">
        <thead>
            <tr>
                <th>Line No</th>
                <th>Operation</th>
                <th>Version</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
      
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                        <!-- <input type="hidden" class="form-control form-control-sm" name="ROUITNG_OPRN_ID" [(ngModel)]="field.ROUTING_OPRN_ID"/>  -->
                    <input                      
                      [attr.disabled]="IsDisable?'':null"
                      [(ngModel)]="field.LINE_NO" 
                      class="form-control form-control-sm" 
                      type="text" 
                      name="LINE_NO" 
                      (focusout)= "setRowBehaviour(i)"
                      />                      
                </td>
      
                <td ><div class="input-group">
                        <input type="hidden" class="form-control form-control-sm" name="OPRN_ID" [(ngModel)]="field.OPRN_ID"/> 
                    <input 
                      [(ngModel)]="field.OPRN_NO"
                      [attr.disabled]="IsDisable?'':null"
                     
                      class="form-control form-control-sm" 
                      name="OPRN_NO" UpperCase
                      required 
                     
                      Focus
                      /><!-- #inputBox -->
                      <button class="btn btn-primary btn-sm" type="button"                         
                        matTooltip="Search"
                        md-raised-button    
                        (click)="openModalLOVGrid(i)" 
                        (focusout)= "setRowBehaviour(i)"
                        [attr.disabled]="IsDisable?'':null"
                        >
                        <span class="btn-icon-search"><mat-icon>search</mat-icon></span>
                        </button>      
                        </div>
                </td>
      
                <td>
                    <input readonly [(ngModel)]="field.OPRN_VERS" class="form-control form-control-sm" type="text" name="{{field.OPRN_VERS}}" />
                    </td>
                <td>
                    <input readonly [(ngModel)]="field.OPRN_NAME" class="form-control form-control-sm" type="text" name="{{field.OPRN_NAME}}" />
                </td>
      
                <!-- if disabled -->
                <td *ngIf="!field.rowEditMode">
                    <button 
                      (click)="editFieldValue(i)"
                      color="basic"
                      mat-mini-fab
                      matTooltip="Edit"
                      
                      >
                        <mat-icon>edit</mat-icon>
                    </button>
      
                    <button 
                      (click)="deleteFieldValue(i)"
                      color="warn"
                      mat-mini-fab
                      matTooltip="Delete"
                      class="mt-2">
                        <mat-icon>remove</mat-icon>
                    </button>
                </td>
                <!-- if not disabled -->
                <td *ngIf="field.rowEditMode">
                    <button 
                      (click)="addAfterEdit(i)"
                      color="primary"
                      mat-mini-fab
                      matTooltip="Add"
                      [disabled]="IsDisable?'':null"
                      >
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>    
            
        </tbody>
      </table>
      
      <div class="col-sm-12 mt-5">
          <div class="row">    
              <span class="d-inline ml-auto">
                  <div class="button-row">
                      <button 
                          (click)="saveData()"
                          mat-raised-button color="basic"
                          matTooltip="Edit Form" >
                          Save
                      </button>
                  </div>
              </span>
          </div>
      </div>