<!-- <section class="pt-5 pb-5"> -->
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <routing-header></routing-header>
          </div>
      </div>
  </div>
<!-- </section> -->
 
<!-- <mat-progress-bar mode="determinate" value="0"></mat-progress-bar> -->
<br>
<!-- <section class="pt-5 pb-5"> -->
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <routing-detail></routing-detail>
          </div>
      </div>
  </div>
<!-- </section>  -->