<!-- <div class="mb-5 col-sm-12"> -->
  <div class="form-row" style="margin-top:12px;margin-bottom: 12px;">
    <span class="d-inline">
        <h3 class="d-inline" style="font-weight: 300">Product Development 
            <strong style="font-weight: 600">Sizing Program</strong>
        </h3>
    </span>
</div>
<!-- </div> -->

<mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
<br>
<!-- <div class="alert alert-info" role="alert">
{{ErrorMessage}}  
</div> -->


<form class="form-group container-fluid" [formGroup]="masterForm" #novalidate>
  
  <!--First row-->
  <div class="form-row">
      <!--First column-->
      <div class="col-md-3" form-group>
          <div class="md-form">               
              <label for="form9" class="clsMandatory">SIZING PROGRAM NO</label>
              <input type="text" class="form-control form-control-sm" 
              formControlName="SIZING_PROGRAM_HEADER_ID" disabled>                              
            </div>
      </div>

      <!--Second column-->
      <div class="col-md-3" form-group>
          <div class="md-form">
              <label for="form10" class="clsMandatory">STATUS</label>
              <select class="form-control form-control-sm" formControlName="STATUS"> 
                  <option *ngFor="let s of status" [value]="s.value">{{ s.name }}</option> 
              </select>               
          </div>
      </div>

      <div class="col-md-3" form-group>
          <div class="md-form">
            <label for="form9" class="clsMandatory">DATE</label>
            <input type="text" class="form-control form-control-sm"  
            formControlName="CREATED_DATE" disabled>              
          </div>
      </div>

      <!--Third column-->
      <div class="col-md-3" form-group>
          <div class="md-form">               
              
          </div>
      </div>
  </div>
     
 

<!--Second Row-->
  <div class="form-row">
      <!--First column-->
      <div class="col-md-3" form-group>
          <div class="md-form">               
              <label for="form9">WEAVER</label>
              <select class="form-control form-control-sm" formControlName="WEAVER_CODE"> 
                <option *ngFor="let w of WeaverArray" [value]="w.WEAVER_CODE">{{ w.WEAVER_NAME }}</option>
            </select>                  
          </div>
      </div>           
  

<!--Third Row-->
 
      <!--First column-->
      <div class="col-md-3" form-group>
        <div class="md-form">               
            <label for="form9">PO NO.</label>
            <input type="text" class="form-control form-control-sm"  NumberOnly
            formControlName="PO_NO" >
            <!-- <select class="form-control form-control-sm" formControlName="PO_NO"> 
              <option *ngFor="let s of POArray" [value]="s.RECORD_ID">{{ s.PO_NO }}</option>
          </select>                   -->
        </div>
      </div>        
  
    <div class="col-md-3" form-group>
      <div class="md-form">               
          <label for="form9">QUALITY</label>
          <input type="text" class="form-control form-control-sm"  
          formControlName="QUALITY_CODE" >
          <!-- <select class="form-control form-control-sm" formControlName="QUALITY"> 
            <option *ngFor="let s of QualityArray" [value]="s.QUALITY_SNO">{{ s.QUALITY_CODE }}</option>
        </select>                   -->
      </div>
    </div>      

    <div class="col-md-3" form-group>
      <div class="md-form">    
                  
          <button style = "margin-top: 24px;"
            (click)="GetPODetail()"
            mat-raised-button color="basic"
            matTooltip="Search">
              Go 
          </button>          
      </div>
    </div>         
  </div>   
 
</form>

<!-- <sizingprogram-detail></sizingprogram-detail> -->
<sizingprogram-detail [masterForm]="masterForm" ></sizingprogram-detail>