<div class="mb-5 col-sm-12">
    <div class="row">
        <span class="d-inline">
            <h3 class="d-inline" style="font-weight: 300">Product Development 
                <strong style="font-weight: 600">Operations</strong>
            </h3>
        </span>
    
        <span class="d-inline ml-auto">
            <button 
              (click)="openModalGrid()"
              color="primary"
              mat-fab
              matTooltip="Search">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </div>
</div>

<form [formGroup]="masterForm" #novalidate>
  <div class="form-container">
    <mat-form-field>
      <input 
        formControlName="operation"
        matInput
        type="text"
        id="operation" 
        placeholder="Operation">
    </mat-form-field>
    
    <mat-form-field>
      <input 
        formControlName="operationName"
        matInput
        type="text" 
        class="operationName" 
        placeholder="Operation Name">
    </mat-form-field>

    <mat-form-field>
      <mat-select 
        formControlName="status"
        id="inputState" 
        placeholder="Select Status">
          <mat-option value="1">Pending</mat-option>
          <mat-option value="2">Sent for Approval</mat-option>
          <mat-option value="3">Approved</mat-option>
          <mat-option value="4">Cancel</mat-option>
      </mat-select>
      <mat-error *ngIf="status.touched && status.invalid">Field should not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select 
        formControlName="class"
        id="inputState" 
        placeholder="Select Class">
          <mat-option value="55">CORRUG OPR</mat-option>
          <mat-option value="67">CORRUG 2</mat-option>
          <mat-option value="70">CONVERSION</mat-option>
      </mat-select>
      <mat-error *ngIf="class.touched && class.invalid">{{ class }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-container-50">
    <mat-form-field>
      <textarea 
        formControlName="descLong"
        matInput 
        placeholder="Description" 
        matTextareaAutosize 
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"></textarea>
      <mat-error *ngIf="descLong.touched && descLong.invalid">Field should not be empty</mat-error>
    </mat-form-field>
  </div>
  
  <!-- user actions -->
  <div class="col-sm-12 mt-5">
    <div class="row">
      <span class="d-inline">
          <div class="button-row">
            <button 
              (click)="saveRecord()"
              mat-raised-button color="basic"
              matTooltip="Add Line Items">
                Add Line Items
            </button>
          </div>
      </span>
  
      <span class="d-inline ml-auto">
          <div class="button-row">
            <button 
              (click)="enableInputs()"
              mat-raised-button color="basic"
              matTooltip="Edit Form">
                Edit
            </button>
            <a 
              (click)="disableInputs()"
              mat-raised-button color="basic"
              matTooltip="Cancel Form">
                Cancel
            </a>
          </div>
      </span>
    </div>
  </div>
  <!-- user actions ends -->

</form>