<div class="mb-5 col-sm-12">
    <div class="row">
        <span class="d-inline">
            <h3 class="d-inline" style="font-weight: 300">Product Development 
                <strong style="font-weight: 600">Operations</strong>
            </h3>
        </span>
    
        <span class="d-inline ml-auto">
            <button 
              (click)="openModalGrid()"
              color="primary"
              mat-fab
              matTooltip="Search">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </div>
</div>

<form #novalidate>
  <div class="form-container">
    <mat-form-field>
      <input 
        matInput
        [disabled]="!editMode"
        type="text"
        id="operation" 
        placeholder="Operation">
    </mat-form-field>

    <mat-form-field>
      <mat-select 
        [disabled]="!editMode"
        id="inputState" 
        placeholder="Select">
          <mat-option value="option">Pending</mat-option>
          <mat-option value="option">Sent for Approval</mat-option>
          <mat-option value="option">Approved</mat-option>
          <mat-option value="option">Cancel</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select 
        [disabled]="!editMode" 
        id="inputState" 
        placeholder="Select">
          <mat-option value="option">CORRUG OPR</mat-option>
          <mat-option value="option">CORRUG 2</mat-option>
          <mat-option value="option">CONVERSION</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <input 
        matInput
        [disabled]="!editMode"
        type="text" 
        class="description" 
        placeholder="Description">
    </mat-form-field>
  </div>

  <div class="form-container-50">
    <mat-form-field>
      <textarea 
        matInput 
        placeholder="Description" 
        matTextareaAutosize 
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"
        [disabled]="!editMode"></textarea>
    </mat-form-field>
  </div>
  
  <!-- user actions -->
  <div class="col-sm-12 mt-5">
    <div class="row">
      <span class="d-inline">
          <div class="button-row">
            <a
              (click)="enableInputs()"
              mat-raised-button color="basic"
              matTooltip="Edit Form">
                Edit
            </a>
          </div>
      </span>
  
      <span class="d-inline ml-auto">
          <div class="button-row">
            <a 
              mat-raised-button color="basic"
              matTooltip="Save Information">
                Save
            </a>
            <a 
              (click)="disableInputs()"
              mat-raised-button color="basic"
              matTooltip="Cancel Form">
                Cancel
            </a>
          </div>
      </span>
    </div>
  </div>
  <!-- user actions ends -->

</form>