
<div *ngIf="loader" style="position: absolute;z-index: 5;width: 100%;display: block;margin-top: 90px;margin-left: 480px;" >
    <mat-spinner class="mx-auto"></mat-spinner>
     <!-- {{ loader }}   -->
</div> 

<mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab label="PO Detail">
                <div> 
                <table class="display table table-bordered table-striped table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>PO No</th>
                                <th>Weaver</th>
                                <th>Quality</th>                               
                                <th>Loom Type</th>
                                <th>No of Panels</th>
                                <th>PO Qty(Kg)</th>
                                <th>No. of Pcs</th>          
                                <th>Already Selected Wt.(Kg)</th>
                                <th>Balance Wt.(Kg)</th>
                                <th>Selected Wt.(Kg)</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                      
                            <tr *ngFor="let field of fieldArray; let i = index">
                                <td>
                                  <input type="hidden" class="form-control form-control-sm" name="SIZING_PROGRAM_DETAIL_ID" [(ngModel)]="field.SIZING_PROGRAM_DETAIL_ID"/>
                                  <input type="hidden" class="form-control form-control-sm" name="QVR_REVISION_NO" [(ngModel)]="field.QVR_REVISION_NO"/>
                                                                   
                                  {{field.PO_NO}}
                                </td>
                      
                                <td>   
                                  <input type="hidden" class="form-control form-control-sm" name="WEAVER_CODE" [(ngModel)]="field.WEAVER_CODE"/>      
                                  {{field.WEAVER_NAME}}
                                </td>
                      
                                <td> 
                                  <input type="hidden" class="form-control form-control-sm" name="QUALITY_SNO" [(ngModel)]="field.QUALITY_SNO"/>      
                                  {{field.QUALITY_CODE}} 
                                </td>
                                <td>  
                                    <select class="form-control form-control-sm" name="LOOM_TYPE_CODE" [(ngModel)]="field.LOOM_TYPE_CODE" [disabled]="IsDisable?'':null"> 
                                        <option *ngFor="let s of loom_types" [ngValue]="s.LOOM_TYPE_CODE" >{{ s.LOOM_TYPE }}</option> 
                                    </select>        
                                </td>
                          
                                <td> 
                                    <input                      
                                    [(ngModel)]="field.NO_OF_PANEL" 
                                    class="form-control form-control-sm" 
                                    type="text" 
                                    name="NO_OF_PANEL" align=right  
                                    [disabled]="IsDisable?'':null" maxlength="8"
                                    NumberOnly                                    
                                    />        
                                </td>
                                <td>  
                                  {{field.PO_QTY}}
                                </td>
                      
                                <td>  
                                  {{field.NO_OF_PCS}}
                                </td>
                      
                                <td>  
                                  {{field.ALREADY_SELECTED_WT}}
                                </td>
                      
                                <td>  
                                  {{field.BALANCE_WT}}
                                </td>
                      
                                <td>  
                                  <!-- {{field.SELECTED_WT}}    -->
                                        <input                      
                                        [(ngModel)]="field.REQUIRED_WEIGHT" 
                                        class="form-control form-control-sm" 
                                        type="text" 
                                        name="REQUIRED_WEIGHT" align=right (focusout)="setBalanceWt(i)" 
                                        [disabled]="IsDisable?'':null"  DecimalOnly maxlength="19"                                   
                                        />                
                                </td>
                      
                      
                                <td >
                                    <button 
                                      (click)="ShowDetail(i)"
                                      color="primary"
                                      mat-mini-fab
                                      matTooltip="Detail"                                     
                                     
                                      >
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </td>
                            </tr>    
                            
                        </tbody>
                      </table>
                    </div> 
        </mat-tab>
        <mat-tab label="Yarn Detail"> 
           
                <table class="display table table-bordered table-striped table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Beam Type</th>
                                <!-- <th>Loom Type</th>
                                <th>No. of Panels</th> -->
                                <th>Beam Width</th>
                                <th>No. of Ends Per Beam</th>          
                                <th>No. of Beams Required</th>
                                <th>Yarn Assignment</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                      
                            <tr *ngFor="let field of YarnDetailArray; let i = index">
                                <td>
                                    {{field.BEAM_TYPE}}
                                </td>                      
                                
                                <!-- <td>  
                                    <select class="form-control form-control-sm" name="LOOM_TYPE_CODE" [(ngModel)]="field.LOOM_TYPE_CODE" > 
                                        <option *ngFor="let s of loom_types" [ngValue]="s.LOOM_TYPE_CODE" >{{ s.LOOM_TYPE }}</option> 
                                    </select>        
                                </td>
                      
                                <td> 
                                        <input                      
                                        [(ngModel)]="field.NO_OF_PANEL" 
                                        class="form-control form-control-sm" 
                                        type="text" 
                                        name="NO_OF_PANEL" align=right                                       
                                        />        
                                </td> -->
                      
                                <td>  
                                    {{field.BEAM_WIDTH}}
                                </td>
                      
                                <td>  
                                    {{field.NO_OF_ENDS}}
                                </td>
                      
                                <td> 
                                  <input                      
                                    [(ngModel)]="field.NO_OF_BEAMS" 
                                    class="form-control form-control-sm" 
                                    type="text" 
                                    name="NO_OF_BEAMS" align=right 
                                    [disabled]="IsDisable?'':null"                                      
                                    />        
                                </td>                                                                             
                                            
                                <td>
                                        <button 
                                          (click)="SaveYarnDetail(i)"
                                          color="primary"
                                          mat-mini-fab
                                          matTooltip="Save"          
                                          [disabled]="IsDisable?'':null"                            
                                          >
                                          <mat-icon>save</mat-icon> </button>
                                    <button 
                                      (click)="RedirectYarnAssignment(i)"
                                      color="primary"
                                      mat-mini-fab
                                      matTooltip="Redirect"     
                                      [disabled]="IsDisable?'':null"                                 
                                      >
                                      <mat-icon>reply</mat-icon>
                                    </button>
                                   
                                </td>
                            </tr>    
                            
                        </tbody>
                </table>
                     
        </mat-tab>
</mat-tab-group>

<div class="col-sm-12 mt-5">
        <div class="row">    
            <span class="d-inline ml-auto">
                <div class="button-row">
                    <button  
                        (click)="save()"
                        mat-raised-button color="basic"
                        matTooltip="Save" >
                        Save
                    </button>
                </div>
            </span>
        </div>
    </div>








