<!-- <div *ngIf="loader">
    <mat-spinner class="mx-auto" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div> -->

<mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab label="PO Detail">
                <!-- <div *ngIf="!loader"> -->
                <table class="display table table-bordered table-striped table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>PO No</th>
                                <th>Weaver</th>
                                <th>Quality</th>
                                <th>PO Qty(Kg)</th>
                                <th>No. of Pcs</th>          
                                <th>Already Selected Wt.(Kg)</th>
                                <th>Balance Wt.(Kg)</th>
                                <th>Selected Wt.(Kg)</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                      
                            <tr *ngFor="let field of fieldArray; let i = index">
                                <td>
    <input type="hidden" class="form-control form-control-sm" name="RECORD_ID" [(ngModel)]="field.RECORD_ID"/>
                                  {{field.PO_NO}}
                                </td>
                      
                                <td>   
                                    <input type="hidden" class="form-control form-control-sm" name="WEAVER_CODE" [(ngModel)]="field.WEAVER_CODE"/>      
                                  {{field.WEAVER_NAME}}
                                </td>
                      
                                <td> 
                                  {{field.QUALITY_CODE}} 
                                </td>
                      
                                <td>  
                                  {{field.PO_QTY}}
                                </td>
                      
                                <td>  
                                  {{field.NO_OF_PCS}}
                                </td>
                      
                                <td>  
                                  {{field.ALREADY_SELECTED}}
                                </td>
                      
                                <td>  
                                  {{field.BALANCE_WT}}
                                </td>
                      
                                <td>  
                                  <!-- {{field.SELECTED_WT}}    -->
                                        <input                      
                                        [(ngModel)]="field.SELECTED_WT" 
                                        class="form-control form-control-sm" 
                                        type="text" 
                                        name="SELECTED_WT" align=right                                       
                                        />                
                                </td>
                      
                      
                                <td >
                                    <button 
                                      (click)="ShowDetail(i)"
                                      color="primary"
                                      mat-mini-fab
                                      matTooltip="Detail"                                     
                                      >
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </td>
                            </tr>    
                            
                        </tbody>
                      </table>
                    <!-- </div> -->
        </mat-tab>
        <mat-tab label="Yarn Detail"> 
           
                <table class="display table table-bordered table-striped table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Beam Type</th>
                                <th>Loom Type</th>
                                <th>No. of Panels</th>
                                <th>Beam Width</th>
                                <th>No. of Ends Per Beam</th>          
                                <th>No. of Beams Required</th>
                                <th>Yarn Assignment</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                      
                            <tr *ngFor="let field of YarnDetailArray; let i = index">
                                <td>
                                    {{field.BEAM_TYPE}}
                                </td>                      
                                
                                <td>  
                                    <select class="form-control form-control-sm" name="LOOM_TYPE_CODE" [(ngModel)]="field.LOOM_TYPE_CODE" > 
                                        <option *ngFor="let s of loom_types" [ngValue]="s.LOOM_TYPE_CODE" >{{ s.LOOM_TYPE }}</option> 
                                    </select>        
                                </td>
                      
                                <td> 
                                        <input                      
                                        [(ngModel)]="field.NO_OF_PANEL" 
                                        class="form-control form-control-sm" 
                                        type="text" 
                                        name="NO_OF_PANEL" align=right                                       
                                        />        
                                </td>
                      
                                <td>  
                                    {{field.BEAM_WIDTH}}
                                </td>
                      
                                <td>  
                                    {{field.NO_OF_ENDS}}
                                </td>
                      
                                <td> 
                                  <input                      
                                    [(ngModel)]="field.NO_OF_BEAMS" 
                                    class="form-control form-control-sm" 
                                    type="text" 
                                    name="NO_OF_BEAMS" align=right                                       
                                    />        
                                </td>                                                                             
                                            
                                <td>
                                        <button 
                                          (click)="SaveYarnDetail(i)"
                                          color="primary"
                                          mat-mini-fab
                                          matTooltip="Save"                                      
                                          >
                                          <mat-icon>save</mat-icon> </button>
                                    <button 
                                      (click)="RedirectYarnAssignment(i)"
                                      color="primary"
                                      mat-mini-fab
                                      matTooltip="Redirect"                                      
                                      >
                                      <mat-icon>reply</mat-icon>
                                    </button>
                                   
                                </td>
                            </tr>    
                            
                        </tbody>
                </table>
                     
        </mat-tab>
</mat-tab-group>








