<table class="table">
  <thead>
      <tr>
          <th>id</th>
          <th>lineNum</th>
          <th>activity</th>
          <th>description</th>
          <th>resourcesf</th>
          <th>proQuan</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let field of fieldArray; let i = index">
          <td>
              <input [(ngModel)]="field.id" [disabled]="true" class="form-control" type="text" name="{{field.code}}" />
          </td>
          <td>
              <input [(ngModel)]="field.lineNum" [disabled]="true" class="form-control" type="text" name="{{field.name}}" />
          </td>
          <td>
              <input [(ngModel)]="field.activity" [disabled]="true" class="form-control" type="text" name="{{field.price}}" />
          </td>
          <td>
              <input [(ngModel)]="field.description" [disabled]="true" class="form-control" type="text" name="{{field.price}}" />
          </td>
          <td>
              <input [(ngModel)]="field.resourcesf" [disabled]="true" class="form-control" type="text" name="{{field.price}}" />
          </td>
          <td>
              <input [(ngModel)]="field.proQuan" [disabled]="true" class="form-control" type="text" name="{{field.price}}" />
          </td>
          <td>
              <button class="btn btn-warning"  type="button" (click)="deleteFieldValue(i)">Edit</button>
              <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)">Delete</button>
          </td>
      </tr>
      <tr>
          <td>
              <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.id" name="newAttributeCode" />
          </td>
          <td>
              <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.lineNum" name="newAttributeName" />
          </td>
          <td>
              <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.activity" name="newAttributePrice" />
          </td>
          <td>
              <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.description" name="newAttributePrice" />
          </td>
          <td>
              <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.resourcesf" name="newAttributePrice" />
          </td>
          <td>
              <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.proQuan" name="newAttributePrice" />
          </td>
          <td>
              <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
          </td>
      </tr>
  </tbody>
</table>