<div>
  <form formArray="topics">
    <div [formGroup]="formEl">
      <mat-form-field>
        <input 
          matInput
          formControlName="lineNum"
          placeholder="lineNum"
          type="text">
      </mat-form-field>
  
      <mat-form-field>
        <input 
          matInput
          formControlName="activity"
          placeholder="activity"
          type="text">
      </mat-form-field>
  
      <mat-form-field>
        <input 
          matInput
          formControlName="description"
          placeholder="description"
          type="text">
      </mat-form-field>
  
      <mat-form-field>
        <input 
          matInput
          formControlName="resourcesf"
          placeholder="resourcesf"
          type="text">
      </mat-form-field>
  
      <mat-form-field>
        <input 
          matInput
          formControlName="proQuan"
          placeholder="proQuan"
          type="number">
      </mat-form-field>
    </div>

    <button (click)="addTopic()">Save</button>
   
  </form>

  <table class="table mt-5">
    <thead>
      <tr>
        <th>lineNum</th>
        <th>activity</th>
        <th>description</th>
        <th>resourcesf</th>
        <th>proQuan</th>
        <th>+</th>
      </tr>
    </thead>

    <tbody *ngIf="topics">
      <tr *ngFor="let topic of detailGridForm.get('topics').controls">
          <td>{{ topic.value.lineNum }}</td>
          <td>{{ topic.value.activity }}</td>
          <td>{{ topic.value.description }}</td>
          <td>{{ topic.value.resourcesf }}</td>
          <td>{{ topic.value.proQuan }}</td>
          <td>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger" (click)="removeTopic(topic)">Delete</button>
          </td>
      </tr>
    </tbody>

    <tbody *ngIf="!topics">
      <tr>
        No Data To Display...
      </tr>
    </tbody>
  </table>
</div>

<!-- https://www.google.com.pk/search?q=array+of+objects+in+reactive+forms+angular&oq=array+of+objects+in+reactive+forms+angular&aqs=chrome..69i57j69i60.11543j0j9&sourceid=chrome&ie=UTF-8
https://alligator.io/angular/reactive-forms-formarray-dynamic-fields/
https://stackoverflow.com/questions/42968619/angular-2-how-to-use-array-of-objects-for-controls-in-reactive-forms -->